<h1>Flickr Public Feeds</h1>

<div class="container">
  <form action="" class="search">
    <div class="field">
      <input type="text" class="input-search" id="input-search" name="input-search" required>
      <label for="input-search">Search</label>
    </div> <!-- /field -->
  </form>
</div>

<div class="gallery cf" *ngIf="publicFeeds">
  <div *ngFor="let publicFeed of publicFeeds.items">
    <img src={{publicFeed.media.m}} />
  </div>
</div>

<div class="tags">
  <div class="panel">
    <a href="#" *ngFor="let tag of feedTags"><span class="tag">{{tag}}</span></a>
  </div>
</div>
